body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mi codigo */
/* .swal2-styled.swal2-title.titulo {
  color: red;
  background-color: white;  
} */
body{
  background-color: #FFC7C7  ;
  overflow-x: hidden;
}

span, h5, a{
  font-family: 'PT Serif', serif; 
}
a{
  font-size: 11px;
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;  
}
.titulo{
  font-size: 18px;
  text-decoration: underline;
}
.lista{
  font-family: 'PT Serif', serif; 
}
@media only screen and (min-width: 780px) {
  .Requisitos{
    display: flex;
    justify-content: space-around;
  }
  
  .titulo{
    font-size: 25px;
  }
  .lista{
    margin-bottom: 15px;
    font-size: 20px;
  }
  h5{
    font-size: 25px;
  }
  span{
    font-size: 21px;
  }
  .footer{
    margin-top: 50px;
    display: flex column;
    justify-content: center; 
  }
}